.App-container {
  display: flex;
  height: 100vh;
  background: black;
  color: white;
  border: 16px solid white;
  box-sizing: border-box;
}

.App-container a {
  color: #F07A71;
}

.App-text {
  color: white;
  font-size: 48px;
  font-family: 'EditorialNew', serif;
  position: relative;
  flex: 1;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.App-innerText {
  padding: 32px;
}

.App-image {
  flex: 1;
  display: flex;
  justify-content: center;
  overflow: hidden;
  box-sizing: border-box;
}

@font-face {
  font-family: 'EditorialNew';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./EditorialNew/EditorialNew-Regular.otf") format("opentype");
}
