.App-container {
  background: black;
  color: white;
  box-sizing: border-box;
  font-family: 'EditorialNew', serif;
  width: 100%;
  min-height: 100vh;
  display: flex;
}

.App-paste {
  overflow-y: scroll;
  max-height: 100vh;
  width: 50%;
}

.App-results {
  width: 50%;
  padding: 16px;
  overflow-y: scroll;
  max-height: 100vh;
  padding-bottom: 200px;
  max-width: 50%;
  box-sizing: border-box;
}

.App-paste textarea {
  width: 100%;
  height: 100%;
  outline: none;
  padding: 16px;
}

.App-button {
  position: absolute;
  bottom: 16px;
  background: white;
  font-size: 32px;
  color: black;
  padding: 16px;
  cursor: pointer;
  left: 50%;
  transform: translateX(-50%);
  border: 2px solid black;
}

.App-resultItem {
  margin-bottom: 32px;
}

.App-amulet {
  font-size: 32px;
  white-space: pre-wrap;
}

@font-face {
  font-family: 'EditorialNew';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./EditorialNew/EditorialNew-Regular.otf") format("opentype");
}
