.App-container {
  background: black;
  color: white;
  border: 16px solid white;
  box-sizing: border-box;
  font-family: 'EditorialNew', serif;
  width: 100%;
}

.App-wrap {
  padding: 32px;
}

.App-container a {
  color: #F07A71;
}

.App-header {
  color: white;
  font-size: 48px;
  position: relative;
  flex: 1;
  box-sizing: border-box;
}

.App-text {
  font-size: 21px;
  padding-top: 16px;
}

@font-face {
  font-family: 'EditorialNew';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./EditorialNew/EditorialNew-Regular.otf") format("opentype");
}
